<div class="chat-container">
    <div class="messages-container">
        <div *ngFor="let message of messages()" class="message" [ngClass]="message.role">
            <div class="message-content" [innerHTML]="message.content"></div>
        </div>
    </div>
    <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" class="input-container">
        <textarea
                formControlName="userInput"
                placeholder="Tapez votre message ici..."
                appEnterSubmit
                (enterSubmit)="sendMessage()">
        ></textarea>
        <button type="submit" [disabled]="!chatForm.valid">Envoyer</button>
    </form>
</div>
